:root {
    --button-radius: 10%;
    --number: paleturquoise;
    --operation: salmon;
}

body {
    font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    text-align: center;
}

header {
    font-weight: bold;
}

button:hover {
    border-radius: var(--button-radius);
    transition:background-color 2s;    
}



/*Grid Code*/
#calculator-structure {
    width: 50%;
    margin-left: 25%;
    padding-bottom: 13%;
    row-gap: 5%;
    column-gap: 1%;
    display: grid;
    grid-template-columns: repeat(5, auto) ;
    grid-template-rows:repeat(4, 50%) ;
    grid-template-areas: 
    "seven eight nine backspace clear"
    "four five six multiply divide"
    "one two three plus minus"
    "zero lp rp blank equal";
}
#zero {
    background-color: var(--number);
    grid-area: zero;
}

#one {
    background-color:var(--number);
    grid-area: one;
}

#two {
    background-color: var(--number);
    grid-area: two;
}

#three {
    background-color:var(--number);
    grid-area: three;
}

#four {
    background-color:var(--number);
    grid-area: four;
}

#five {
    background-color:var(--number);
    grid-area: five;
}

#six {
    background-color: var(--number);
    grid-area: six;
}

#seven {
    background-color: var(--number);
    grid-area: seven;
}

#eight {
    background-color:var(--number);
    grid-area: eight;
}

#nine {
    background-color:var(--number);
    grid-area: nine;
}

#multiply {
    background-color: var(--operation);
    grid-area: multiply;
}

#divide {
    background-color:var(--operation);
    grid-area: divide;
}

#plus {
    background-color:var(--operation);
    grid-area: plus;
}

#minus {
    background-color:var(--operation);
    grid-area: minus;
}

#equal {
    background-color:var(--operation);
    grid-area: equal;
}

#left-parenthesis {
    background-color: orange;
    grid-area: lp;
}

#right-parenthesis {
    background-color: orange;
    grid-area: rp;
}

#backspace {
    background-color:lightpink;
    grid-area: backspace;
}

#clear {
    background-color: palegreen;
    grid-area: clear;
}

.blank {
    background-color: black;
    grid-area: blank;
    margin-top: 0.01em;
}

#display-el {
    background-color: lightgray;
}